h2 {background-color: grey;}
.shapes{background-color: black;
    display: block;
}

.square{background-color: blue;
display: inline-block;


}
.forthesquare {
    height: 150px;
    width:150px;
    background-color: white;

}
.Rectangle {background-color: yellow;
display: inline-block;

}
.fortherectangle{
height: 150px;
width:200px;
    background-color: white;
}



.Circle {background-color: red;
        display: inline-block;
}
.forthecircle{
    background-color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;}

.Triangle{background-color:green;
    display: inline-block;
}
.forthetriangle{
background-color:green;

width: 0; height: 0;
border-left: 90px solid transparent;
border-right: 90px solid transparent;
border-bottom: 150px solid red;

}


